absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-types
axial_positional_embedding
CoLT5-attention
datasets
dill
frozenlist
fsspec
gluonts
grpcio
hf-xet
hf_transfer
huggingface-hub
hyper-connections
ipywidgets
jupyterlab_widgets
lightning
lightning-utilities
line_profiler
llvmlite
local-attention
Markdown
markdown-it-py
matplotlib
mdurl
multidict
multiprocess
munkres
numba
numpy
nvidia-cublas-cu12
nvidia-cuda-cupti-cu12
nvidia-cuda-nvrtc-cu12
nvidia-cuda-runtime-cu12
nvidia-cudnn-cu12
nvidia-cufft-cu12
nvidia-cufile-cu12
nvidia-curand-cu12
nvidia-cusolver-cu12
nvidia-cusparse-cu12
nvidia-cusparselt-cu12
nvidia-nccl-cu12
nvidia-nvjitlink-cu12
nvidia-nvtx-cu12
opencv-python
patool
peft
product_key_memory
propcache
protobuf
pyarrow
pydantic
pydantic_core
pynndescent
PySide6
pyte
pytorch-lightning
PyWavelets
reformer-pytorch
regex
rich
scikit-base
sentencepiece
setuptools
shiboken6
sktime
speedtest-cli
sympy
tensorboard
tensorboard-data-server
termcolor
thop
tokenizers
toolz
torch
torch-tb-profiler
torchaudio
torchmetrics
torchstat
torchvision
transformers
triton
umap-learn
Werkzeug
wheel
widgetsnbextension
xxhash
yacs
yarl
zstandard